<div class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">SmartTeach 1.0</h1>
        <p class="lead text-muted mb-3">Ajudando voce a estudar melhor</p>
        
    </div>
</section>

<!-- Desenho do botoes de Materias na tela inicial -->
<div class="container">
    <div class="row">
        {{#each materias}} <!-- for each loop in handlebars -->
            <div class="col-md-4">
                <!-- Assim fica mais fácil tratar o nome na outra página e não precisa guardar o url --> 
                <a href='materias/{{name}}'> 
                    <!-- Poe nos style.css o style pra modularizar e identar -->
                    <img class="img-thumbnail" src= {{image}} 
                         alt="Card image cap" 
                         style='height: 90%; width: 90%; object-fit: contain; background-color: #dddddd'>
                </a>
            </div>
        {{else}} {{/each}}
    </div>
</div>
