<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Exemplo da Testa</h1>
        <p class="lead text-muted">que é grande.</p>
        <p>
            <a href="#" class="btn btn-primary my-2">Aperte pra iluminar</a>
            <a href="#" class="btn btn-secondary my-2">Aperte para lustrar</a>
        </p>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {{#each materias}}
            <!-- for each loop in handlebars -->
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top filethumb" src="/img/filethumb.png" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Pasta da matéria de {{text}}.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            {{else}} {{/each}}
        </div>
    </div>
</div>