<div class="jumbotron text-center">
    <div class="container">
        <img src="/img/logo.png" class="logo">
        <h2 style="margin-bottom: 3em; color: rgb(250, 250, 243);">Ajudando você a estudar melhor</h2>
    </div>
</section>

<!-- Desenho do botoes de Materias na tela inicial -->
<div class="container">
    <div class="row">
        {{#each materias}} <!-- for each loop in handlebars -->
            <div class="col-md-4">
                <!-- Assim fica mais fácil tratar o nome na outra página e não precisa guardar o url --> 
                <a href='materias/{{name}}'> 
                    <!-- Poe nos style.css o style pra modularizar e identar -->
                    <img class="img-thumbnail" src= {{image}} 
                         alt="Card image cap" 
                         style='height: 90%; width: 90%; object-fit: contain; background-color: #dddddd'>
                </a>
            </div>
        {{else}} {{/each}}
    </div>
</div>
