<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Tela inicial do Vitor</h1>
        <p class="lead text-muted">que é grande.</p>
        <p>
            <a href="/materiais" class="btn btn-primary my-2">Ir para materiais</a>
            <a href="#" class="btn btn-secondary my-2">Aperte para lustrar</a>
        </p>
    </div>
</section>