<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">SmartTeach</h1>
        <p class="lead text-muted">Ajundando voce a estudar melhor</p>
        <p>
            <!--<a href="#" class="btn btn-primary my-2">Aperte pra iluminar</a>
            <a href="#" class="btn btn-secondary my-2">Aperte para lustrar</a>-->
        </p>
    </div>
</section>

<!-- Desenho do botoes de Materias na tela inicial -->
<div class="container">
    <div class="row">
        {{#each materias}} <!-- for each loop in handlebars -->
            <div class="col-md-4"> 
                <a href={{url}}.> 
                    <img class="img-thumbnail" src= {{image}} 
                         alt="Card image cap" 
                         style='height: 90%; width: 90%; object-fit: contain'>
                </a>
            </div>
        {{else}} {{/each}}
    </div>
</div>
